<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.sensor.gyroscope" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".Accelerometer"
            android:label="@string/title_activity_accelerometer"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.androidhive.project.HomeActivity" />
        </activity>
        <activity
            android:name=".Gyroscope"
            android:label="@string/title_activity_gyroscope"
            android:parentActivityName=".HomeActivity" >
            <uses-feature
                android:name="android.hardware.sensor.accelerometer"
                android:required="true" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.androidhive.project.HomeActivity" />
        </activity>
        <activity
            android:name=".model.AndroidGPSTrackingActivity"
            android:label="@string/title_activity_android_gpstracking"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.androidhive.project.MainActivity" />
        </activity>
        <activity
            android:name=".AndroidGPSTrackingActivity"
            android:label="@string/title_activity_android_gpstracking"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.androidhive.project.MainActivity" />
        </activity>
        <activity
            android:name=".GpsAndroid"
            android:label="@string/title_activity_gps_android"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.androidhive.project.MainActivity" />
        </activity>
    </application>

</manifest>
